.logo-padding{
  padding: 2rem;
  border-bottom: thin solid $beige;

  @include custom-max(639px){
    padding: 1rem;
  }

  a{
    @include custom-max(639px){
      margin: 0;
    }
  }
}

.admin-fullscreen{
  min-height: 85vh !important;
}