.padding-top-small{
  padding-top: 1rem;
}

.padding-top-medium{
  padding-top: 2rem;
}

.padding-top-large{
  padding-top: 4rem;
}

.clearfix:after{
  clear:both;
  content:" ";
  display:table;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-none-tablet{
  @include phone{
    display: none;
  }

  @include tablet{
    display: none;
  }
}

.display-desktop-none{
  display: block;

  @include desktop{
    display: none;
  }
}