@import 'mixins.scss';
@import 'variables.scss';

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h2{
  @include text-styling($primary-font, $bold, 1.5rem);
  text-align: center;
  margin-top: 75px;
  color: $dark-grey;
}

h3{
  @include text-styling($primary-font, $bold, 1.25rem);
  text-align: center;
  margin-top: 1rem;
  color: $dark-grey;
}

h4{
  @include text-styling($primary-font, $bold, 1rem);
  color: $dark-grey;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h5{
  @include text-styling($secondary-font, $bold, 0.9rem);
  color: $dark-grey;
  text-transform: uppercase;
  margin: 2.5rem 0 1rem 0;
}


/**
  OTHER TYPO
 */
.placeholder{
  @include text-styling($primary-font, $light, 2rem);
  text-align: center;
  color: $dark-grey;
  margin-top: 6rem;
}

.font-primary-bold{
  @include text-styling($primary-font, $bold, 1rem);
  color: $dark-grey;
}

.font-secondary-bold{
  @include text-styling($secondary-font, $bold, 1rem);
  color: $dark-grey;
}

.text-checkout{
  @include text-styling($primary-font, $regular, 1rem);
  color: $dark-grey;
  text-align: center;
  padding: 2rem;
}