// Settings
@import "settings";

// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);

//Typo
@import "_general/typography";

//Variables
@import "_general/variables";

//Mixins
@import "_general/mixins";

//Helpers
@import "_general/helper";

//Age Specific Styles for each group
@import "_age-styles/default";
@import "_age-styles/elderly";
@import "_age-styles/kids";
@import "_age-styles/seniors";
@import "_age-styles/teens";
@import "_age-styles/toddlers";

//Admin
@import "_general/admin";

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index:100;

  @include custom-max(1024px){
    padding-bottom: 1rem;
  }
}

.main{
  margin-top: 125px;

  @include custom-max(1024px) {
    margin-top: 65px;
  }
}

.offcanvas-background{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.closed{
  display: none;
  opacity: 0;
  z-index: 0;
}

.open{
  display: block;
  opacity: 1;
  z-index: 101;
}

.no-scroll{
  height: 100vh;
  overflow: hidden;
}

.margin-top{
  margin-top: 275px;

  @include custom-max(1220px){
    margin-top: 300px;
  }

  @include custom-max(1023px){
    margin-top: 150px;
  }

}

.margin-top-desktop{
  margin-top: 275px;

  @include custom-max(1220px){
    margin-top: 300px;
  }

  @include custom-max(1023px){
    margin-top: 0;
  }

}

.breadcrumbs{
  margin-top: 200px;
  margin-left: 3rem;

  @include custom-max(1220px){
    margin-top: 260px;
  }

  @include custom-max(1023px){
    display: none;
  }

  li {
    color: $light-grey;
    @include text-styling ($secondary-font, $regular, 0.75rem);

    a{
      color: $light-grey;

      &:hover{
        color: $dark-grey;
      }
    }
  }

  .current {
    color: $dark-grey;
    @include text-styling ($secondary-font, $regular, 0.75rem);
  }
}

.breadcrumb{
  ul{
    margin-top: 0 !important;
  }
}

.breadcrumb-margin-top{
  @include custom-min(640px){
    margin-top: 7rem !important;
  }
}

.breadcrumb-margin-top-seniors{
  @include custom-min(640px){
    margin-top: 14rem !important;
  }
}

.placeholder{
  @include text-styling($primary-font, $light, 2rem);
  text-align: center;
  color: $dark-grey;
  margin-top: 6rem;
}

.margin-top-kids{
  @include custom-min(1024px) {
    margin-top: 19rem;
  }

  @include custom-max(1023px) {
    padding-top: 2.5rem;
  }
}

.margin-bottom-small{
  margin-bottom: 3rem;
}

.button{
  background-color: $magenta;
  @include text-styling($primary-font, $regular, 1rem);
  color: $white;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;

  &:hover{
    background-color: $blue;
  }

  &:focus{
    background-color: $blue;
    outline: none;
  }
}

.icon-button{
  background-color: $white;
  color: $blue;
  padding:  0.5rem 0.75rem;
  border-radius: 5px;
  border: 2px solid $blue;

  &:hover{
    background-color: $blue;

    svg{
      stroke: $white;
    }
  }

  &:focus{
    background-color: $blue;
    outline: none;
  }

  svg {
    stroke: $blue;
  }
}

.button-light{
  background-color: $dark-beige;
  @include text-styling($primary-font, $regular, 0.9rem);
  color: $dark-grey;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;

  &:hover{
    font-weight: $bold;
    color: $dark-grey;
  }

  &:focus{
    outline: none;
  }
}

.input{
  border: none;
  box-shadow: none;
  border-bottom: thin solid $dark-beige;
  @include text-styling($primary-font, $regular, 1rem);
  color: $dark-grey;
  margin: 1rem 0;

  &:focus{
    border: none;
    box-shadow: none;
    border-bottom: thin solid $blue;
  }
}

.border-radius{
  border-radius: 15px;
}

.background-white{
  background-color: $white;
}

.background-beige{
  background-color: $beige;
}

.padding-medium-top-bottom{
  padding: 2rem 0;
}

.font-primary-bold{
  @include text-styling($primary-font, $bold, 1rem);
  color: $dark-grey;
}

.font-secondary-bold{
  @include text-styling($secondary-font, $bold, 1rem);
  color: $dark-grey;
}

.padding-section{
  padding: 1rem 2rem;
}

.padding-bottom-large{
  padding-bottom: 3rem;
}

.margin-top-small{
  margin-top: 1rem;
}

.border-bottom{
  border-bottom: thin solid $beige;
}

.checkout-button{
  display: inline-block;
  @include text-styling($primary-font, $bold, 1rem);
  color: $blue;
  padding: 0.5rem 1rem;
  border: thin solid $blue;
  text-align: center;

  &:hover{
    background: $blue;
    color: $white;
  }

  &:focus{
    outline: none;
  }

  @include custom-max(639px){
    display: inline;
    background: $blue;
    color: $white;
    font-weight: $bold;
  }
}

.no-margin-mobile{
 @include custom-max(639px) {
   width: 100% !important;
   margin: 0 !important;
 }
}

.no-padding-mobile{
  @include custom-max(639px) {
    width: 100% !important;
    padding: 0 !important;
  }
}

.no-text-margin-mobile{
  margin: 0;
}

.padding-top-mobile{
  @include custom-max(639px){
    margin: 2rem 0 0 0 !important;
  }
}

.login-form{
  background: $white;
  padding: 1rem 2rem;
}

.fullscreen-beige-background{
  min-height: 70vh;
  width: 100%;
  background: $beige;
  padding: 2rem 0;
}

.fullscreen-white-background{
  min-height: 70vh;
  width: 100%;
  background: $white;
  padding: 2rem 0;
}

.input{
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  border-bottom: thin solid $dark-grey;

  &:focus{
    border-bottom: thin solid $blue;
  }
}

.form-label{
  @include text-styling($primary-font, $bold, 1rem);
  color: $dark-grey;
  margin-top: 1rem;
}

.submit-button{
  background-color: $blue;
  @include text-styling($primary-font, $bold, 1rem);
  @include margin-left;
  color: $white;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  &:focus{
    background-color: $blue;
    outline: none;
  }

  &:hover{
    background-color: $magenta;
  }
}

.login-sublinks{
  @include text-styling($primary-font, $regular, 0.75rem);
  display: inline-block;
  color: $light-grey;
  padding: 0 1rem;
  margin: 0;

  &:hover{
    color: $dark-grey;
  }

  @include custom-max(639px){
    padding: 0 1rem;
  }

  @include custom-max(759px){
    padding: 0 0.25rem;
  }
}

.margin-top-bottom{
  margin: 2rem 0 !important;
}

.is-invalid{
  border-bottom: thin solid $magenta;
}

.invalid-feedback{
  color: $magenta;
  @include text-styling($secondary-font, $bold, 1rem);
}

.alert-danger-box{
  color: $magenta;
  @include text-styling($secondary-font, $bold, 1rem);
  padding: 1.5rem 1rem;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  background-color: $dark-beige;

}

.padding-top-eight{
  padding-top: 8rem;
}

.label-seniors{
  font-size: 1.25rem;
}

.text-checkout{
  @include text-styling($primary-font, $regular, 1rem);
  color: $dark-grey;
  text-align: center;
  padding: 2rem;
}

.order-box{
  padding: 2rem 3rem;
  background-color: $white;
  margin-bottom: 1rem;

  p{
    margin: 0;
    color: $dark-grey;
    @include text-styling($primary-font, $regular, 1rem);
  }
}

.order-button{
  background-color: $beige;
  @include text-styling($secondary-font, $bold, 0.75rem);
  color: $dark-grey;
  text-transform: uppercase;
  padding: 0.5rem 1rem;

  &:hover{
    background-color: $dark-beige;
    cursor: pointer;
  }
}

.delivery-option{
  margin-bottom: 1rem;

  .delivery-price{
    @include text-styling($secondary-font, $bold, 1rem);
    color: $dark-grey;
  }

  .delivery-information{
   .title{
     @include text-styling($secondary-font, $bold, 0.8rem);
     color: $dark-grey;
     text-transform: uppercase;
   }
  }

  .delivery-radio{
    color: $dark-grey;
  }
}

.payment{
  margin-bottom: 1rem;

  .payment-information{
    .title{
      @include text-styling($secondary-font, $bold, 0.8rem);
      color: $dark-grey;
      text-transform: uppercase;
    }
  }
}

.information{
  @include text-styling($secondary-font, $regular, 0.9rem);
  color: $light-grey;
  padding-right: 1rem;
}

.help-box{
  height: 200px;
  background-color: white;
  padding: 3rem;
  margin-bottom: 1rem;

  @include custom-max(639px){
    height: auto;
  }
  img{
    display: block;

    @include custom-max(1023px){
      width: 25px;
    }
  }

  a{
    @include text-styling($primary-font, $bold, 1rem);
    color: $dark-grey;
    text-align: center;
  }


  &:hover{
    -webkit-box-shadow: 0px 0px 20px -2px rgba(138,138,138, 0.15);
    -moz-box-shadow: 0px 0px 20px -2px rgba(138,138,138, 0.15);
    box-shadow: 0px 0px 20px -2px rgba(138,138,138, 0.15);
  }
}

.no-margin{
  margin: 0;
}

.margin-bottom-medium{
  margin-bottom: 4rem !important;
}

.beige{
  background-color: $beige;
}

.padding-top-seniors{
  padding-top: 7rem;
}

.no-margin-breadcrumb{
  .breadcrumbs{
    margin-top: 0 !important;

    @include custom-min(1025px){
      margin-top: 10rem !important;
    }

    @include custom-min(1045px){
      margin-top: 6rem !important;
    }
  }
}

.dashboard-headline{
  background: white;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;

  svg{
    width: 30px;
    height: 30px;
  }

  h2{
    text-align: left;
    margin-top: 1rem;
  }
}

.dashboard-redirect{
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;

  a{
    margin: 0;
  }

  h2{
    margin: 0;
    padding-left: 3rem;
  }
}

.order-details{
  background: white;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;

  p{
    color: $dark-grey;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .headline{
    @include text-styling($primary-font, $bold, 1rem);
    color: $dark-grey;
    margin-bottom: 0;
    margin-top: 1rem;

    span{
      @include text-styling($secondary-font, $regular, 1rem);
      color: $dark-grey;
    }
  }

  img{
    padding-right: 1rem;
    padding-top: 1rem;
    object-fit: contain;
    height: 200px;
    overflow: hidden;
    width: 100%;
  }

  .product-name{
    margin-top: 1rem;
    margin-bottom: 0;
    color: $dark-grey;
  }

  .border-beige-bottom{
    padding-bottom: 1rem;
    border-bottom: thin solid $beige;
  }
}

.address {
  margin: 0 !important;
  @include text-styling($secondary-font, $regular, 1rem);
}

.empty-error{
  @include text-styling($primary-font, $light, 2rem);
  text-align: center;
  margin: 3rem;
  color: $dark-grey;
}

.contact{
  img{
    height: 75vh;
    object-fit: cover;
    object-position: 0 75%;

    @include custom-max(639px){
      height: 50vh;
    }
  }

  .contact-text{
    @include text-styling($secondary-font, $regular, 1rem);
    color: $dark-grey;
    padding: 1rem 2rem;
  }
}

.button-outline-blue {
  background-color: $white;
  border: thin solid $blue;
  color: $blue;
  font-weight: $bold;
  text-transform: none;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.about{
  img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;

    @include custom-max(639px) {
      height: 50vh;
    }
  }

  h3{
    text-align: center;
    @include custom-min(1024px){
      text-align: left;
      padding-left: 2rem;
    }
  }

  p{
    @include text-styling($secondary-font, $regular, 1rem);
    color: $dark-grey;
    padding: 1rem 2rem;
    text-align: center;

    @include custom-min(1024px){
      text-align: left;
    }
  }

}

.hover-danger{
  &:hover{
    background-color: $magenta;
    color: $white;
    font-weight: $bold;
  }
}

.full-width{
  width: 100%;
}

.text-modal{
  color: $dark-grey;
  padding: 1rem 1rem;
}

.mobile-button-white{
  border: thin solid $beige;
  background: $white;
  margin-bottom: 1rem;
  padding:1rem;

  &:focus{
    background: $beige;
  }
}

.textarea{
  height: 150px;
}

.checkbox{
  margin-top: 1.5rem;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cart-section{
  @include custom-max(639px) {
    min-height: 75vh;
  }
}