// Settings
@import "settings";

// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);

//Typo
@import "_general/typography";

//Variables
@import "_general/variables";

//Mixins
@import "_general/mixins";

//Helpers
@import "_general/helper";

//Age Specific Styles for each group
@import "_age-styles/default";
@import "_age-styles/elderly";
@import "_age-styles/kids";
@import "_age-styles/seniors";
@import "_age-styles/teens";
@import "_age-styles/toddlers";

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index:100;

  @include custom-max(1024px){
    padding-bottom: 1rem;
  }
}

.main{
  margin-top: 125px;

  @include custom-max(1024px) {
    margin-top: 65px;
  }
}

.offcanvas-background{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.closed{
  display: none;
  opacity: 0;
  z-index: 0;
}

.open{
  display: block;
  opacity: 1;
  z-index: 101;
}

.no-scroll{
  height: 100vh;
  overflow: hidden;
}

.margin-top{
  margin-top: 275px;

  @include custom-max(1220px){
    margin-top: 300px;
  }

  @include custom-max(1023px){
    margin-top: 150px;
  }

}

.margin-top-desktop{
  margin-top: 275px;

  @include custom-max(1220px){
    margin-top: 300px;
  }

  @include custom-max(1023px){
    margin-top: 0;
  }

}

.breadcrumbs{
  margin-top: 200px;
  margin-left: 3rem;

  @include custom-max(1220px){
    margin-top: 260px;
  }

  @include custom-max(1023px){
    display: none;
  }

  li {
    color: $light-grey;
    @include text-styling ($secondary-font, $regular, 0.75rem);

    a{
      color: $light-grey;

      &:hover{
        color: $dark-grey;
      }
    }
  }

  .current {
    color: $dark-grey;
    @include text-styling ($secondary-font, $regular, 0.75rem);
  }
}

.breadcrumb{
  ul{
    margin-top: 0 !important;
  }
}

.breadcrumb-margin-top{
  @include custom-min(640px){
    margin-top: 7rem !important;
  }
}

.breadcrumb-margin-top-seniors{
  @include custom-min(640px){
    margin-top: 14rem !important;
  }
}

.placeholder{
  @include text-styling($primary-font, $light, 2rem);
  text-align: center;
  color: $dark-grey;
  margin-top: 6rem;
}

.margin-top-kids{
  @include custom-min(1024px) {
    margin-top: 19rem;
  }

  @include custom-max(1023px) {
    padding-top: 2.5rem;
  }
}

.margin-bottom-small{
  margin-bottom: 3rem;
}

.button{
  background-color: $magenta;
  @include text-styling($primary-font, $regular, 1rem);
  color: $white;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;

  &:hover{
    background-color: $blue;
  }

  &:focus{
    background-color: $blue;
    outline: none;
  }
}

.input{
  border: none;
  box-shadow: none;
  border-bottom: thin solid $dark-beige;
  @include text-styling($primary-font, $regular, 1rem);
  color: $dark-grey;
  margin: 1rem 0;

  &:focus{
    border: none;
    box-shadow: none;
    border-bottom: thin solid $blue;
  }
}

.border-radius{
  border-radius: 15px;
}

.background-white{
  background-color: $white;
}